/**
* Nav-toggle Styles
*/

@use "../variables";
@use "../mixins";

.nav-toggle {
	padding: 13px 9px;
	background: transparent;
	border: 1px solid transparent;


	// .nav-toggle:focus
	:focus {
		outline-width: 0;
	}

	[class*='bar-'] {
		display: block;
		background-color: variables.$white;
		transform: rotate(0deg);
		transition: transform .2s ease;
		border-radius: 2px;
		width: 31px;
		height: 3px;
		margin-bottom: 6px;
	}

	// .nav-toggle__bar-bot
	[class*='bar-bot'] {
		margin-bottom: 0;
	}

	// .nav-toggle.opened .nav-toggle__bar-top
	&.opened &__bar-top {
		transform: rotate(45deg);
		transform-origin: 16% 50%;
	}

	// .nav-toggle.opened .nav-toggle__bar-mid
	&.opened &__bar-mid {
		opacity: 0;
	}

	// .nav-toggle.opened .nav-toggle__bar-bot
	&.opened &__bar-bot {
		transform: rotate(-45deg);
		transform-origin: 4% 50%;
	}
}

.mob-navigation {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: variables.$mob-menu-bg;

	@include mixins.media-breakpoint-up(lg) {
		display: none;
	}
}

.mob-menu {
	display: flex;
	flex-direction: column;

	// .mob-menu .menu-item:not(:last-child)
	.menu-item:not(:last-child) {
		border-bottom: 1px solid variables.$white;
	}

	// .mob-menu .menu-item a
	.menu-item a {
		padding: 10px 20px;
		color: variables.$white;
	}
}