/**
* Background
*/

@mixin bg-image($url, $size: contain, $position: center, $repeat: no-repeat) {
	background-image: url($url);
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}