/**
* Block Socils Style
*/

@use "../../variables" as vars;
@use "../../mixins";

.socials {
	display: flex;
	align-items: center;

	@include mixins.media-breakpoint-up(lg) {
		flex-direction: column;
		align-items: start;
		;
	}

	// .socials__caption
	&__caption {
		font-family: 'Poppins Semibold', sans-serif;
		font-size: 14px;
		line-height: 132%;
		letter-spacing: 0.06em;
		color: vars.$whiteRGB80p;
	}

	// .socials__items
	&__items {
		display: flex;
		align-items: center;
		margin-left: 32px;

		@include mixins.media-breakpoint-up(lg) {
			margin-top: 20px;
			margin-left: 0;
		}
	}

	// .socials__item
	&__item {}

	// .socials__link
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: vars.$whiteRGB10p;
	}

	// .socials__icon
	&__icon {
		width: 20px;
		height: 20px;
	}
}