@use "../mixins";

.container {
	width: 100%;
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;

	@include mixins.media-breakpoint-up(sm) {
		max-width: 600px;
	}

	@include mixins.media-breakpoint-up(md) {
		max-width: 760px;
	}

	@include mixins.media-breakpoint-up(lg) {
		max-width: 1000px;
	}

	@include mixins.media-breakpoint-up(xl) {
		max-width: 1240px;
	}
}