/*
* Font-face
*/

// Spartan
@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-display: swap;
	src: local('Spartan'),
		url('../fonts/Spartan/Spartan.ttf') format('truetype');
}

// Poppins
@font-face {
	font-family: 'Poppins Regular';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Poppins Regular'),
		url('../fonts/Poppins/poppins_regular.woff2') format('woff2'),
		url('../fonts/Poppins/poppins_regular.woff') format('woff'),
		url('../fonts/Poppins/poppins_regular.ttf') format('truetype'),
		url('../fonts/Poppins/poppins_regular.svg#poppins_regular') format('svg'),
		url('../fonts/Poppins/poppins_regular.eot'),
		url('../fonts/Poppins/poppins_regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'Poppins SemiBold';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Poppins SemiBold'),
		url('../fonts/Poppins/poppins_semibold.woff2') format('woff2'),
		url('../fonts/Poppins/poppins_semibold.woff') format('woff'),
		url('../fonts/Poppins/poppins_semibold.ttf') format('truetype'),
		url('../fonts/Poppins/poppins_semibold.svg#poppins_semibold') format('svg'),
		url('../fonts/Poppins/poppins_semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins/poppins_semibold.eot');
}