/*
* Colors
*/

//  Pallete
$white: #ffffff;
$whiteRGB10p: rgba(255, 255, 255, 0.1);
$whiteRGB80p: rgba(255, 255, 255, 0.8);
$black: #000000;
$mardi-gras: #3E1B38;
$black-pearl: #0C2134;
$midnight-express: #1B263E;
$link-water: #DEE1F8;
$white-lilac: #F8F9FC;
$bay-of-many: #3A3E58;
$resolution-blue: #2D3D6E;
$summer-sky: #25AAD3;

// Element colors
$main-text: $bay-of-many;
$dark-text: $black-pearl;
$light-text: $white;
$mob-menu-bg: $mardi-gras;
$footer-bg: $midnight-express;