/*
* Colors
*/

//  Pallete
$white: #ffffff;
$mardi-gras: #3E1B38;
$black-pearl: #0C2134;
$midnight-express: #1B263E;

// Element colors
$main-text: $black-pearl;
$mob-menu-bg: $mardi-gras;
$footer-bg: $midnight-express;